src/wadl/extensions.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:db="http://docbook.org/ns/docbook" xmlns:common="http://docs.openstack.org/common/api/v1.0"
	xmlns:csapi="http://docs.openstack.org/compute/api/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources>
		<resource id="Flavors" path="flavors">
			<resource id="FlavorID" path="{flavor_id}">
				<param name="flavor_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="string">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The flavor id. </para>
					</wadl:doc>
				</param>
				<method href="#showExtraSpecs"/>
				<!--apparently not really supported-->
				<!--<resource id="FlavorSwap" path="os-flavor-swap">
					<method href="#listFlavorsWithSwap"/>
				</resource>-->
				<resource id="Extraspec" path="os-extra_specs">
					<method href="#listFlavorsExtraSpecsFlavors"/>
					<resource id="KeyID" path="{key_id}">
						<param name="key_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="string">
							<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
								<para>The flavor key. </para>
							</wadl:doc>
						</param>
						<method href="#getFlavorsExtraSpecsFlavorDetail"/>
					</resource>
				</resource>
			</resource>
		</resource>
		<resource id="ScheduledImages" path="servers">
			<resource id="ServerID" path="{server_id}">
				<param name="server_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The UUID for the server. </para>
					</wadl:doc>
				</param>
				<resource id="RaxSchedImage" path="rax-si-scheduled-image">
					<method href="#enableSchedImages"/>
					<method href="#showSchedImages"/>
					<method href="#disableSchedImages"/>
				</resource>
			</resource>
		</resource>
		<resource id="Servers" path="servers">
			<method href="#createServerDiskConfig"/>
			<!--<method href="#createServerWithHints"/>-->
		</resource>
		<resource id="Keypairs" path="os-keypairs">
			<method href="#createKeyPair"/>
			<method href="#importKeyPair"/>
			<method href="#listKeyPairs"/>
			<resource id="KeypairName" path="{keypair_name}">
				<param name="keypair_name" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="string">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The name of the key pair to be deleted. </para>
					</wadl:doc>
				</param>
				<method href="#deleteKeyPair"/>
			</resource>
		</resource>
		<resource id="Networks" path="os-networksv2">
			<method href="#listNetworks"/>
			<method href="#createNetwork"/>
			<resource id="NetworkID" path="{id}">
				<param name="id" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Image ID">
						<p>The network ID.</p>
					</wadl:doc>
				</param>
				<method href="#showNetwork"/>
				<method href="#deleteNetwork"/>
			</resource>
		</resource>
		<resource id="VirtualInterfaces" path="servers">
			<resource id="Interfaces" path="{server_id}/os-virtual-interfacesv2">
				<param name="server_id" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Server ID">
						<p>The UUID for the server.</p>
					</wadl:doc>
				</param>
				<method href="#listInterfaces"/>
				<method href="#createInterface"/>
				<resource id="InterfaceID" path="{interface_id}">
					<param name="interface_id" style="template" type="csapi:UUID">
						<wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Interface ID">
							<p>The interface ID.</p>
						</wadl:doc>
					</param>
					<method href="#deleteInterface"/>
				</resource>
			</resource>
		</resource>
		<resource id="Console" path="servers">
			<resource id="ServerIDC" path="{server_id}">
				<param name="server_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The UUID for the server. </para>
					</wadl:doc>
				</param>
				<resource id="ActionC" path="action">
					<method href="#getConsole"/>
				</resource>
			</resource>
		</resource>
		<resource id="Volumes" path="os-volumes">
			<method href="#listVolumes"/>
			<method href="#createVolume"/>
			<resource id="VolumeID" path="{id}">
				<param name="volume_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The UUID for the volume. </para>
					</wadl:doc>
				</param>
				<method href="#showVolume"/>
				<method href="#deleteVolume"/>
			</resource>
		</resource>
		<resource id="IPAssociationServers" path="servers">
			<resource id="ipaServerID" path="{serverID}/ip_associations">
				<method href="#listAssociatedIPs"/>
				<resource id="IPAddressID" path="{IPAddressID}">
					<param name="id" style="template" type="csapi:UUID">
						<wadl:doc xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" title="Image ID">
							<p>The Associated IP address ID, which is not the actual IP address.</p>
						</wadl:doc>
					</param>
					<method href="#createAssociatedIP"/>
					<method href="#showAssociatedIP"/>
					<method href="#deleteAssociatedIP"/>
				</resource>
			</resource>
		</resource>
		<resource id="Quotas" path="os-quota-sets">
			<resource id="TenantID" path="{tenant_id}">
				<param name="tenant_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="string">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The tenant id.</para>
					</wadl:doc>
				</param>
				<method href="#showQuotas"/>
			</resource>
		</resource>
	</resources>

	<!-- Flavor with Extra Specs operations -->
	<method name="GET" id="showExtraSpecs">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show flavor with extra specs">
			<para role="shortdesc">Retrieve the extra specs for a specified flavor.</para>
			<para>This operation shows extra specifications for the flavor, such as identifying the policy class, in the
				flavor operations.</para>
			<para>In the URI, specify the flavor ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/flavors-xspecs-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/flavors-xspecs-rsp.json"/>
				</wadl:doc> &xtenExtraFlavorSpecsRspParameters;</representation>
		</response> &commonFaults; </method>

	<!-- Flavor OS Extra Specs operations -->
	<method name="GET" id="listFlavorsExtraSpecsFlavors">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List extra specs for flavors">
			<para role="shortdesc">Retrieves flavor extra specs.</para>
			<para>This operation shows extra specifications for flavors.</para>
			<para>In the URI, specify the flavor ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/flavors-list-osxspecs-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/flavors-list-osxspecs-rsp.json"/>
				</wadl:doc> &xtenExtraFlavorSpecsRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="getFlavorsExtraSpecsFlavorDetail">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get details for specified flavor extra spec">
			<para role="shortdesc">Gets details of specified flavor extra spec.</para>
			<para>This operation shows extra specifications for flavors.</para>
			<para>In the URI, specify the key ID, or name, of the flavor extra spec.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/flavors-get-osxspec-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/flavors-get-osxspec-rsp.json"/>
				</wadl:doc> &xtenExtraFlavorSpecsRspParameters;</representation>
		</response> &commonFaults; </method>

	<!-- Consoles operations -->
	<method name="POST" id="getConsole">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Get console">
			<para role="shortdesc">Retrieve console output for a specified server.</para>
			<para>This operation returns a URL which you use with a java client to open a console connection to your
				server.</para>
			<para>In the URI, specify the server ID.</para>
			<para>To use the URL returned from this operation, you should download and install a VNC Viewer like
				<link xlink:href="https://www.realvnc.com/products/vnc/documentation/4.0/win/java.html">Real VNC</link> or
				<link xlink:href="http://www.tightvnc.com/download.php">Tight VNC</link>. Then, from the directory where you
				saved the Vnc Viewer, run the following command (using the installed jar and the URL from the operation
				response body):</para>
			<programlisting>java -jar VncViewer.jar URL {returnedURL}</programlisting>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/console-req.json"/>
				</wadl:doc>&xtenConsoleReqParameters;</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/console-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/console-rsp.json"/>
				</wadl:doc> &xtenConsoleRspParameters;</representation>
		</response> &commonFaults; </method>

	<!-- Volumes operations -->
	<method name="GET" id="listVolumes">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve list of volumes">
			<para role="shortdesc">Retrieve list of volumes for your account.</para>
			<para>Retrieves the list of volumes for your account.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/volume-list-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/volume-list-rsp.json"/>
				</wadl:doc> &xtenVolumeListRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="POST" id="createVolume">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create volume">
			<para role="shortdesc">Create volume.</para>
			<para>Create a new volume.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/volume-create-req.json"/>
				</wadl:doc>&xtenVolumeCreateReqParameters;</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/volume-create-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/volume-create-rsp.json"/>
				</wadl:doc> &xtenVolumeCreateRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="showVolume">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve volume details">
			<para role="shortdesc">Show volume details.</para>
			<para>Show volume details.</para>
			<para>In the URI, specify the volume ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/volume-create-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/volume-show-rsp.json"/>
				</wadl:doc> &xtenVolumeCreateRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="DELETE" id="deleteVolume">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete volume">
			<para role="shortdesc">Delete volume.</para>
			<para>Delete volume.</para>
			<para>In the URI, specify the volume ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/volume-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!-- Scheduled Images operations -->
	<method name="POST" id="enableSchedImages">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Enable scheduled Images">
			<para role="shortdesc">Enable scheduled images for the specified server.</para>
			<para>This operation enables scheduled images on a server, by creating a image_schedule resource. When your
				images are created, they are named according to one of the following schemes: <itemizedlist>
					<listitem>
						<para><code>daily-{server-name}-{10-digit-number}</code></para>
					</listitem>
					<listitem>
						<para><code>weekly-{server-name}-{10-digit-number}</code></para>
					</listitem>
				</itemizedlist>
			</para>
			<para>Image names are limited to 255 characters. The <code>{server-name}</code> may be truncated, if necessary,
				for the scheduled snapshot image name to meet this limit.</para>
			<para>If you want to change from daily to weekly scheduled images, simply post a new request containing the day
				of week and the retention value you desire. Likewise, if you want to switch from weekly to daily scheduled
				images, simply post a new request containing only a retention value. </para>
			<para>In the URI, specify the server ID.</para>
			<para>In the request body, for both daily and weekly requests, specify <code>retention</code> specifies the
				number of scheduled images created by the scheduled images service to keep for a server. The retention value
				must be a positive integer from 1 to 65,535 (the system limit).</para>
			<para>In the request body, for weekly requests, specify <code>day_of_week</code>, which indicates the day for
				image creation.</para>
			<note>
				<para> Regarding Retention: <itemizedlist>
						<listitem>
							<para>Excess scheduled image removal will be done at the time the scheduled images service
								successfully adds a new snapshot to your account.</para>
						</listitem>
						<listitem>
							<para>The way the scheduled images service recognizes that an image is eligible for removal is by
								locating the following user metadata on the image: <code>org.openstack__1__created-by:
									scheduled-images-service</code>. To save an scheduled image so that it is not eligible
								for retention culling, simply remove this metadata element. We do not recommend adding the
								above metadata element to an image manually. </para>
						</listitem>
						<listitem>
							<para> If a retention value has already been specified for a server, it is overridden. </para>
						</listitem>
					</itemizedlist>
				</para>
			</note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en"
					title="Enable scheduled images (daily): JSON request">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-dly-enable-req.json"/>
				</wadl:doc>&xtenSchedImagesParameters;</representation>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en"
					title="Enable scheduled images (weekly): JSON request">
					<xsdxt:code href="../common/samples/sched-images-wkly-enable-req.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
					title="Enable scheduled images (daily): JSON response">
					<xsdxt:code href="../common/samples/sched-images-dly-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-dly-rsp.json"/>
				</wadl:doc>&xtenSchedImagesParameters;</representation>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
					title="Enable scheduled images (weekly): JSON response">
					<xsdxt:code href="../common/samples/sched-images-wkly-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-wkly-rsp.json"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="showSchedImages">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show scheduled Images">
			<para role="shortdesc">Show scheduled images for the specified server.</para>
			<para>This operation returns the retention value if the server has scheduled images enabled. For weekly images,
				the response also includes the scheduled day of the week for the image. If the server has scheduled images
				disabled, an HTTP 404 is returned. </para>
			<para>In the URI, specify the server ID.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
					title="Show scheduled images (daily - success): JSON response">
					<xsdxt:code href="../common/samples/sched-images-dly-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-dly-rsp.json"/>
				</wadl:doc>&xtenSchedImagesParameters;</representation>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
					title="Show scheduled images (weekly - success): JSON response">
					<xsdxt:code href="../common/samples/sched-images-wkly-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-wkly-rsp.json"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
					title="Show scheduled images (not found): JSON response">
					<xsdxt:code href="../common/samples/sched-images-404-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/sched-images-404-rsp.json"/>
				</wadl:doc>&xtenSchedImagesErrorParameters;</representation>
		</response> &commonFaults; </method>

	<method name="DELETE" id="disableSchedImages">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Disable scheduled Images">
			<para role="shortdesc">Disable scheduled images for the specified server.</para>
			<para>This operation disables scheduled images by deleting the image_schedule resource that indicates the
				scheduled image service should create snapshots of this server. Thus scheduled images will no longer be
				created.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/sched-images-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!-- Disk Config operations -->
	<method name="GET" id="createServerDiskConfig">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create server with disk config">
			<para role="shortdesc">Create server with disk config</para>
			<para>When you create a server from an image with the <literal>OS-DCF:diskConfig</literal> value set to
					<literal>AUTO</literal>, the server is built with a single partition that is expanded to the disk size of
				the flavor selected. When you set the <literal>OS-DCF:diskConfig</literal> attribute to
					<literal>MANUAL</literal>, the server is built by using the partition scheme and file system that is in
				the source image.  If the target flavor disk is larger, remaining disk space is left unpartitioned. A server
				inherits the <literal>OS-DCF:diskConfig</literal> attribute from the image from which it is created. However,
				you can override the <literal>OS-DCF:diskConfig</literal> value when you create a server, as follows: </para>
			<para>In these examples, the server is created with <literal>OS-DCF:diskConfig</literal> set to
					<literal>MANUAL</literal>, regardless of the value of the image's <literal>OS-DCF:diskConfig</literal>
				attribute. Images also inherit the <literal>OS-DCF:diskConfig</literal> value from a server. So, if an image
				is created from the server, it also has a <literal>OS-DCF:diskConfig</literal> value of
					<literal>MANUAL</literal>.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-req.json"/>
				</wadl:doc>&serverCreateReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Success">Request accepted.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp.json"/>
				</wadl:doc>&serverCreateRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<!-- Scheduler Hints operations -->
<!--	<method name="GET" id="createServerWithHints">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create server with scheduler hints">
			<para role="shortdesc">Create server with scheduler hints</para>
			<para>When you create a server from an image with the <literal>os:scheduler_hints</literal> in the request body,
				you provide instructions to the scheduler on where to build the new server, relative to an existing server.
			</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-req.json"/>
				</wadl:doc>&serverCreateReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Success">Request accepted.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp.json"/>
				</wadl:doc>&serverCreateRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/disk-cfg-create-svr-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>
	-->
	<!-- Key Pair operations -->
	<method name="POST" id="createKeyPair">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create a server key pair">
			<para role="shortdesc">Creates a server key pair</para>
			<para>Creates a key pair, with the name specified in the request body, to associate with a new server
				instance.</para>
			<important>
				<title>Key Pair Naming Rules</title>
				<para> The key name must be unique and may not exceed 255 characters. It can contain the following
					characters: <itemizedlist>
						<listitem>
							<para>alphanumeric</para>
						</listitem>
						<listitem>
							<para>spaces</para>
						</listitem>
						<listitem>
							<para>dashes</para>
						</listitem>
						<listitem>
							<para>underscores</para>
						</listitem>
					</itemizedlist>
				</para>
			</important>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/keypair-create-req.json"/>
				</wadl:doc>&xtenKeyPairCreateReqParameters;</representation>
		</request>
		<response status="200">
			<doc title="Success">Request accepted.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/keypair-create-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/keypair-create-rsp.json"/>
				</wadl:doc>&xtenKeyPairCreateRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="POST" id="importKeyPair">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Import a server key pair">
			<para role="shortdesc">Import a server key pair</para>
			<para>Imports, or uploads, a key pair, with the name and public key specified in the request body, to associate
				with a new server instance.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/keypair-upload-req.json"/>
				</wadl:doc>&xtenKeyPairImportReqParameters;</representation>
		</request>
		<response status="200">
			<doc title="Success">Request accepted.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/keypair-upload-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/keypair-upload-rsp.json"/>
				</wadl:doc>&xtenKeyPairCreateRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="listKeyPairs">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve list of key pairs">
			<para role="shortdesc">Retrieves the current rate limits and absolute limits for your account.</para>
			<para>This operation retrieves a list of server key pairs.</para>
		</wadl:doc>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/keypair-list-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/keypair-list-rsp.json"/>
				</wadl:doc>&xtenKeyPairListRspParameters; </representation>
		</response> &commonFaults; </method>

	<method name="DELETE" id="deleteKeyPair">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete key pair">
			<para role="shortdesc">Deletes the specified key pair.</para>
			<para>This operation deletes the specified key pair. A return code of 202 indicates success.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/keypair-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!--Nova Networks Operations-->
	<method name="GET" id="listNetworks">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve list of networks">
			<para role="shortdesc">Retrieves list of the networks configured for the specified tenant ID.</para>
			<para>This operation lists the networks configured for the tenant ID specified in the request URI.</para>
			<note>
				<para>To list the networks that are associated with servers, see
					<link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/List_Servers-d1e2078.html">List Servers</link>
					in the <citetitle>Next Generation Cloud Servers Developer Guide</citetitle>.</para>
			</note>
		</wadl:doc>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/network-list-rsp-json-http.txt"/>
						<xsdxt:code href="../common/samples/network-list-rsp.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenNetworksListRspParameters; </representation>
		</response> &commonFaults; </method>

	<method name="POST" id="createNetwork">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create network">
			<para role="shortdesc">Creates a network for the specified tenant ID.</para>
			<para>This operation creates a network for the tenant ID specified in the request URI.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/req-json-http.txt"/>
						<xsdxt:code href="../common/samples/network-create-req.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenCreateNetworksReqParameters; </representation>
		</request>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/network-create-rsp-json-http.txt"/>
						<xsdxt:code href="../common/samples/network-create-rsp.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenNetworksRspParameters; </representation>
		</response>&commonFaults; </method>

	<method name="GET" id="showNetwork">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show network">
			<para role="shortdesc">Shows information for the specified network.</para>
			<para>This operation shows information for the network specified in the request URI.</para>
		</wadl:doc>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/network-show-rsp-json-http.txt"/>
						<xsdxt:code href="../common/samples/network-show-rsp.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenNetworksRspParameters; </representation>
		</response>&commonFaults; </method>

	<method name="DELETE" id="deleteNetwork">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete network">
			<para role="shortdesc">Deletes the specified network.</para>
			<para>This operation deletes the network specified in the request URI.</para>
			<note>
				<para>You can delete an isolated network only if it is not attached to any server. To detach a network from a
					server, delete the virtual interface for the network from the server instance.
					<!--See insertlinkhere-->.</para>
			</note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/network-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!--Nova Virtual Interfaces Operations-->
	<method name="GET" id="listInterfaces">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve list of virtual interfaces">
			<para role="shortdesc">Retrieves list of the virtual interfaces configured for a server instance.</para>
			<para>This operation lists the virtual interfaces configured for a server instance.</para>
		</wadl:doc>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/virtual-interfaces-rsp-json-http.txt"/>
						<xsdxt:code href="../common/samples/virtual-interfaces-rsp.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenVirtualInterfaceParameters; </representation>
		</response>&commonFaults; </method>

	<method name="POST" id="createInterface">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create virtual interface and attach to server">
			<para role="shortdesc">Creates a virtual interface for a network and attaches it to a server.</para>
			<para>This operation creates a virtual interface for a network and attaches the network to a server
				instance.</para>
			<note>
				<para>You can create a maximum of one virtual interface per instance per network.</para>
			</note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/req-json-http.txt"/>
						<xsdxt:code href="../common/samples/virtual-interface-create-req.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenVirtualInterfaceCreateParameters; </representation>
		</request>
		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<xsdxt:sample>
						<xsdxt:code href="../common/samples/virtual-interface-create-rsp-json-http.txt"/>
						<xsdxt:code href="../common/samples/virtual-interface-create-rsp.json"/>
					</xsdxt:sample>
				</wadl:doc>&xtenVirtualInterfaceParameters; </representation>
		</response>&commonFaults; </method>

	<method name="DELETE" id="deleteInterface">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete virtual interface">
			<para role="shortdesc">Deletes a virtual interface from a server instance.</para>
			<para>This operation deletes the specified virtual interface from the specified server instance.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/virtual-interface-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!--Associated IP Operations-->
	<method name="GET" id="listAssociatedIPs">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
			title="Retrieve list of IP addresses associated with a server">
			<para role="shortdesc">Retrieves list of associated IPs for specified server.</para>
			<para>This operation retrieves a list of all IP addresses associated to the specified server.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<!--<xsdxt:code href="../common/samples/req-json-http.txt"/>-->
				</wadl:doc>
			</representation>
		</request>
		<response status="200">
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/associatedip-get-resp.json"/>
				</wadl:doc>&xtenAssociatedIPListRspParameters; </representation>
		</response> &commonFaults;</method>

	<method name="POST" id="createAssociatedIP">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create associated IP address">
			<para role="shortdesc">Creates a associated IP on a specified network.</para>
			<para>This operation creates an associated IP address for the specified server and already existing IP address
				ID.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/associatedip-create-req.json"/>
				</wadl:doc>&xtenAssociatedIPCreateReqParameters; </representation>
		</request>
		<response status="201">
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/associatedip-create-resp.json"/>
				</wadl:doc>&xtenAssociatedIPCreateRspParameters;</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="showAssociatedIP">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show associated IP address">
			<para role="shortdesc">Retrieves information for a specified associated IP.</para>
			<para>This operation retrieves information for an associated IP address, using the associated IP address
				ID.</para>
		</wadl:doc>
		<response status="200">
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/associatedIP-show-resp.json"/>
				</wadl:doc>&xtenAssociatedIPCreateRspParameters;</representation>
		</response> &commonFaults;</method>

	<!--Remove Associated IP-->
	<method name="DELETE" id="deleteAssociatedIP">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete associated IP address">
			<para role="shortdesc">Deletes a specified associated IP address.</para>
			<para>This operation deletes the specified associated IP address, using the associated IP address ID.</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook">
					<xsdxt:code href="../common/samples/associatedIP-delete-resp-json-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<!-- Quota Sets operations -->
	<method name="GET" id="showQuotas">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve quotas">
			<para role="shortdesc">Retrieve quotas for specified tenant.</para>
			<para>This operation shows current quotas for a tenant.</para>
			<para>In the URI, specify the tenant ID.</para>
		</wadl:doc>
		
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/quota-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/quota-rsp.json"/>
				</wadl:doc> &xtenQuotasShowRspParameters;</representation>
		</response> &commonFaults; </method>
	


	<!-- Flavor Swap operations -->
	<!--<method name="GET" id="listFlavorsWithSwap">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve flavors with swap">
			<para role="shortdesc">Retrieve the extra specs for a specified flavor.</para>
			<para>This operation Lists the flavor specs including swap value for the specified flavor. The swap value is the
				amount of swap disk space, in gigabytes, allocated to a server.</para>
			<para>In the URI, specify the flavor ID.</para>
		</wadl:doc>
		
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/flavors-xspecs-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/flavors-xspecs-rsp.json"/>
				</wadl:doc> &xtenExtraFlavorSpecsRspParameters;</representation>
		</response> &commonFaults; </method>-->

</application>
