src/wadl/servers.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:db="http://docbook.org/ns/docbook" xmlns:common="http://docs.openstack.org/common/api/v1.0"
	xmlns:csapi="http://docs.openstack.org/compute/api/v2" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources>
		<resource id="Servers" path="servers">
			<method href="#createServer"/>
			<method href="#listServers"/>
			<resource id="ServersDet" path="detail">
				<method href="#listServersDetails"/>
			</resource>
			<resource id="Server_id" path="{server_id}">
				<param name="server_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:UUID">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The UUID for the server. </para>
					</wadl:doc>
				</param>
				<method href="#getServer"/>
				<method href="#updateServer"/>
				<method href="#deleteServer"/>
				<resource id="IPs" path="ips">
					<method href="#listServerAddresses"/>
					<resource id="Network_label" path="{network_label}">
						<param xmlns="http://wadl.dev.java.net/2009/02" name="network_label" style="template"
							type="xsd:string">
							<wadl:doc xml:lang="EN" xmlns="http://docbook.org/ns/docbook" title="network_label">
								<para>The network label, such as <literal>public</literal> or
									<literal>private</literal>.</para>
							</wadl:doc>
						</param>
						<method href="#listServerAddressesbyNetwork"/>
					</resource>
				</resource>
				<resource id="Actions" path="actions">
					<method href="#changePassword"/>
					<method href="#rebootServer"/>
					<method href="#rebuildServer"/>
					<method href="#resizeServer"/>
					<method href="#confirmResizeServer"/>
					<method href="#revertResizeServer"/>
					<method href="#rescueServer"/>
					<method href="#unrescueServer"/>
					<method href="#createImage"/>
				</resource>
				<resource id="Metadata" path="metadata">
					<method href="#listMetadata"/>
					<method href="#setMetadata"/>
					<method href="#updateMetadata"/>
					<resource id="MetadataKey" path="{key}">
						<param xmlns="http://wadl.dev.java.net/2009/02" name="key" style="template" type="csapi:MetadataKey">
							<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Server metadata item key">
								<para>The name of the target key in a metadata key pair. A string with maximum length of 255
									characters.</para>
							</wadl:doc>
						</param>
						<method href="#showMetadataItem"/>
						<method href="#setMetadataItem"/>
						<method href="#deleteMetadataItem"/>
					</resource>
				</resource>
				<resource id="VolumeAttach" path="os-volume_attachments">
					<method href="#createVolumeAttachment"/>
					<method href="#listVolumeAttachments"/>
					<resource id="VolumeAttachmentId" path="{attachment_id}">
						<param xmlns="http://wadl.dev.java.net/2009/02" name="attachment_id" style="template" type="xsd:UUID">
							<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Volume attachment ID">
								<para>The volume attachment ID.</para>
							</wadl:doc>
						</param>
						<method href="#showVolumeAttachmentDetails"/>
						<method href="#deleteVolumeAttachment"/>
					</resource>
				</resource>
			</resource>
		</resource>
	</resources>

	<!-- Basic Server operations -->
	<method name="POST" id="createServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Create server">
			<para role="shortdesc">Provisions a server asynchronously.</para>
			<para>The full URL to the newly created server is returned through the <code>Location</code> header and is
				available as a <code>self</code> and <code>bookmark</code> link in the server representation.
				<!--See
				<link xlink:href="http://docs.rackspace.com/servers/api/v2/cs-devguide/content/LinksReferences.html">Links and
                    References</link> inserthere.--></para>
			<para>The progress of the server build depends on factors including location of the requested image, network i/o,
				host load, and the selected flavor. You can check the progress of the build request by issuing a call to
				retrieve the details of the server <!--(see inserthere)-->. Once the build is complete, the server's
					<parameter>status</parameter> is <code>ACTIVE</code>.</para>
			<para>For OnMetal server builds, even after the <parameter>status</parameter> is ACTIVE, wait a few additional
				moments for the network configuration to complete. Once the new OnMetal server pings successfully, you can
				begin to use it.</para>
			<important><para>OnMetal servers must be created using an ssh key pair. Thus you should ignore the administrator
					password returned by a Create Server operation because it does not allow access to the OnMetal server.
					<!--See inserthere for more information about key pairs.--></para></important>
			<para>The following extensions allow you to use other options when creating a new server:</para>
			<itemizedlist>
				<listitem><para>Config Drive <!--inserthere--></para></listitem>
				<listitem><para>Boot from volume <!--inserthere--></para></listitem>
				<listitem><para>Networks <!--inserthere--> for nova and for neutron</para></listitem>
			</itemizedlist>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/server-create-req.json"/>
				</wadl:doc>&serverCreateReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/server-create-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="202">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-create-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/server-create-rsp.json"/>
				</wadl:doc>&serverCreateRspParameters;
				<!--<wadl:doc xmlns="http://docbook.org/ns/docbook"><para>Anything special about response goes here.</para></wadl:doc>-->
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-create-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/server-create-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="GET" id="listServers">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List servers">
			<para role="shortdesc">Retrieve list of all servers (only IDs, names, and links).</para>
			<para>Servers contain a status attribute that indicates the current server state. You can filter on the server
				status when you complete a list servers request. The server status is returned in the response body.</para>
			<para>For a full list of possible server status values, see <xref linkend="Server_stati"/>.</para>
			<para>For more information on the extended status extension (<literal>OS-EXT-STS:power_state</literal>,
					<literal>OS-EXT-STS:vm_state</literal>, and <literal>OS-EXT-STS:task_state</literal>see
				<xref linkend="ext_extended_status"/>.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>&serverListQueryParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200 203 300">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-rsp.json"/>
				</wadl:doc> &serverListRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="listServersDetails">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List servers with details">
			<para role="shortdesc">Retrieves a detailed list of all servers in the tenant's account.</para>
			<para>Servers contain a status attribute that indicates the current server state. You can filter on the server
				status when you complete a list servers request. The server status is returned in the response body. For a
				full list of possible server status values, see <xref linkend="Server_stati"/>.</para>
			<para>The following extensions provide additional information when viewing server details:</para>
			<itemizedlist>
				<listitem><para>Config Drive: <!--<xref linkend="ext_config_drive"/>--></para></listitem>
				<listitem><para>Scheduled Images: <xref linkend="ext_scheduled_images"/></para></listitem>
				<listitem><para>Extended Status (<literal>OS-EXT-STS:power_state</literal>,
							<literal>OS-EXT-STS:vm_state</literal>, and <literal>OS-EXT-STS:task_state</literal>):
						<xref linkend="ext_extended_status"/></para></listitem>
			</itemizedlist>
			<para>In the URI, specify the target server ID.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>&serverListQueryParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<para>The following example show only one server in the list for brevity.</para>
					<xsdxt:code href="../common/samples/servers-list-det-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-det-rsp.json"/>
				</wadl:doc>&serverListDetRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<para>The following example show only one server in the list for brevity.</para>
					<xsdxt:code href="../common/samples/servers-list-det-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-det-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="getServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve server details">
			<para role="shortdesc">Retrieves detailed information for a specified server.</para>
			<para>The following extensions provide additional information when viewing server details:</para>
			<itemizedlist>
				<listitem><para>Config Drive: <!--<xref linkend="ext_config_drive"/>--></para></listitem>
				<listitem><para>Scheduled Images: <xref linkend="ext_scheduled_images"/></para></listitem>
				<listitem><para>Extended Status (<literal>OS-EXT-STS:power_state</literal>,
							<literal>OS-EXT-STS:vm_state</literal>, and <literal>OS-EXT-STS:task_state</literal>):
						<xref linkend="ext_extended_status"/></para></listitem>
			</itemizedlist>
			<para>In the URI, specify the target server ID.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-det-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/server-det-rsp.json"/>
				</wadl:doc>&serverDetRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-det-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/server-det-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="PUT" id="updateServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Update server">
			<para role="shortdesc">Updates one or more editable attributes for a specified server.</para>
			<para>The attributes that can be edited are: name, accessIPv4, and accessIPv6. You can update any or all of the
				attributes in a single request.</para>
			<note><para>If you try to update a server by using the server bookmark link, the response code is 300, unless you
					use the Accept: application/json;version=1.1 header with the request.</para></note>
			<para>In the URI, specify the target server ID.</para>
			<para>In the request body, specify the element <literal>server</literal>, followed by the attribute, for example
					<literal>name</literal>, with the new value for that attribute. You can include one or more attributes in
				the server element.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/server-update-req.json"/>
				</wadl:doc>&serverUpdateReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/server-update-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-update-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/server-update-rsp.json"/>
				</wadl:doc>&serverDetRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-update-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/server-update-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="DELETE" id="deleteServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete server">
			<para role="shortdesc">Deletes the specified server.</para>
			<para>If the operation succeeds, it returns an <errorcode>HTTP 202</errorcode> status code with no response
				body.</para>
			<para>In the URI, specify the target server ID.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="204">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/server-delete-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!-- Server Addresses operations -->
	<method name="GET" id="listServerAddresses">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Retrieve list of server addresses">
			<para role="shortdesc">Retrieve list of all server and network addresses associated with the specified
				server.</para>
			<para>In the URI, specify the target server ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-addresses-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-addresses-rsp.json"/>
				</wadl:doc> &serverIPListRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-addresses-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-addresses-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="GET" id="listServerAddressesbyNetwork">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
			title="Retrieve list of network addresses for server and network">
			<para role="shortdesc">Retrieve list of all server and network addresses associated with the specified server and
				network.</para>
			<para>In the URI, specify the target server ID and target network type (<literal>public</literal> or
					<literal>private </literal>).</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-net-addresses-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-net-addresses-rsp.json"/>
				</wadl:doc> &serverIPListByNetRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-list-net-addresses-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-list-net-addresses-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<!-- Server Actions operations -->
	<method name="POST" id="changePassword">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Change password for specified server">
			<para role="shortdesc">Change the admin password, or root password, for the specified server.</para>
			<note><para>OnMetal servers must be created using ssh key pairs. You should neither use nor modify the
					administrator password generated by the server build operation.</para></note>
			<para>In the URI, specify the target server ID.</para>
			<para>In the request body, specify the action <literal>changePassword</literal>, followed by the
					<literal>adminPass</literal> attribute with the new password.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-chgpwd-req.json"/>
				</wadl:doc> &serverActionChangePwdReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-chgpwd-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="rebootServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Reboot specified server">
			<para role="shortdesc">Reboot the specified server.</para>
			<para>This operation performs a soft or hard reboot of the specified server. A soft reboot is a graceful shutdown
				and restart of your server's operating system. A hard reboot power cycles your server, which performs an
				immediate shutdown and restart.</para>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the action <literal>reboot</literal>, optionally followed by the
					<literal>type</literal> attribute, either <literal>HARD</literal> or <literal>SOFT</literal>.</para>
			<para>If you do not include the type attribute, a soft reboot is performed by default.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-reboot-req.json"/>
				</wadl:doc> &serverActionRebootReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-reboot-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="rebuildServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Rebuild specified server">
			<para role="shortdesc">Rebuild the specified server.</para>
			<para>The rebuild operation removes all data on the server and replaces it with the specified image. The serverID
				and all IP addresses remain the same. If you specify name, metadata, accessIPv4, or accessIPv6 in the rebuild
				request, new values replace existing values. Otherwise, these values do not change. You can inject data into
				the file system during the rebuild.</para>
			<note>
				<para>This operation is not available for OnMetal servers.</para>
			</note>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the rebuild action followed by various attributes, listed in the following
				parameters section.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-action-rebuild-req.json"/>
				</wadl:doc> &serverActionRebuildReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-action-rebuild-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-action-rebuild-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-action-rebuild-rsp.json"/>
				</wadl:doc> &serverCreateRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-action-rebuild-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-action-rebuild-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="POST" id="resizeServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Resize specified server">
			<para role="shortdesc">Resize the specified server.</para>
			<para>This operation converts an existing Standard server to a different flavor, which scales the server up or
				down. The original server is saved for a period of time to allow roll back if a problem occurs. You should
				test and explicitly confirm all resizes. When you do so, the original server is removed. All resizes are
				automatically confirmed after 24 hours if you do not explicitly confirm or revert the resize. </para>
			<note>
				<para>This operation is not available for OnMetal servers.</para>
			</note>
			<warning>
				<para> Resize is only available for Standard flavors. If you have a Compute, Memory, or IO flavor server, and
					you need to change the size of your data disk(s), you will need to: <orderedlist>
						<listitem>
							<para>Image your system disk.</para>
						</listitem>
						<listitem>
							<para>Back-up your data disk(s), using Cloud Backup or Cloud Block Storage.</para>
						</listitem>
						<listitem>
							<para>Create a new server with the desired size and flavor class, using your image.</para>
						</listitem>
						<listitem>
							<para>Add your backed-up data to the new data disk(s).</para>
						</listitem>
						<listitem>
							<para>Delete the old server, once you are satisfied with the new server.</para>
						</listitem>
					</orderedlist>
				</para>
				<para>For General Purpose servers, use steps 1, 3, and 5 from the preceding list.</para>
			</warning>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the <literal>resize</literal> action followed by attributes.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-resize-req.json"/>
				</wadl:doc> &serverActionResizeReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-resize-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="confirmResizeServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Confirm server resize for specified server">
			<para role="shortdesc">Confirm the server resize for the specified server.</para>
			<para>During a resize operation, the original server is saved for a period of time to allow roll back if a
				problem occurs. After you verify that the newly resized server works properly, use this operation to confirm
				the resize. After you confirm the resize, the original server is removed, and you cannot roll back to that
				server. All resizes are automatically confirmed after 24 hours, if you do not explicitly confirm, or revert,
				the resize.</para>
			<note>
				<para>This operation is not available for OnMetal servers.</para>
			</note>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the <literal>confirmResize</literal> action.</para>
		</wadl:doc>

		<request>
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-confresize-req.json"/>
				</wadl:doc> &serverActionConfResizeReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-confresize-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="revertResizeServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Revert server resize for specified server">
			<para role="shortdesc">Revert the server resize for the specified server.</para>
			<para>During a resize operation, the original server is saved for a period of time to allow for roll back if a
				problem occurs. If you determine that a problem exists with a newly resized server, use this operation to
				revert the resize and roll back to the original server. All resizes are automatically confirmed after 24
				hours if you do not explicitly confirm or revert the resize. </para>
			<note>
				<para>This operation is not available for OnMetal servers.</para>
			</note>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the <literal>revertResize</literal> action.</para>
		</wadl:doc>

		<request>
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rvrtresize-req.json"/>
				</wadl:doc> &serverActionRvrtResizeReqParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rvrtresize-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="rescueServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Rescue specified server">
			<para role="shortdesc">Enter rescue mode to reboot a virtual machine (VM) in rescue mode so that you can access
				the VM with a new root password and fix any file system and configuration errors.</para>
			<para>Enter rescue mode to debug system issues that prevent you from booting a server to a usable state.</para>
			<para>When you place a server in rescue mode, the following events occur: </para>
			<orderedlist>
				<listitem>
					<para>The VM is shut down.</para>
				</listitem>
				<listitem>
					<para>A new VM is created with the following images attached:</para>
					<variablelist>
						<varlistentry>
							<term>Primary image</term>
							<listitem><para>Cleanly running VM based on the image from which the original server was created,
									with a random password. This password is returned to you in a response to issuing the
									rescue mode API call. Use this clean image to boot the server and fix any
									problems.</para></listitem>
						</varlistentry>
					</variablelist>
					<variablelist>
						<varlistentry>
							<term>Secondary disk</term>
							<listitem><para>Image of the VM that needs to be rescued.</para></listitem>
						</varlistentry>
					</variablelist>
				</listitem>
			</orderedlist>
			<para>When you put a server into rescue mode, you cannot use it until its status goes from
					<literal>ACTIVE</literal> to <literal>RESCUE</literal>. This does not happen immediately.</para>
			<para>For a full list of possible server status values, see <xref linkend="Server_stati"/></para>
			<note><para>The SSH server key will be different on the rescue image than on the original server.</para></note>.
				<para>Specify the target server ID in the URI.</para>
			<para>After you resolve any problems and reboot the rescued server, you can unrescue the server (see
				<xref linkend="POST_unrescueServer_servers__server_id__actions_api_servers_actions"/>). The unrescue
				operation restores the repaired image to running state with its original password.</para>
			<para>In the request body, specify the <literal>rescue</literal> action.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rescue-req.json"/>
				</wadl:doc> &serverActionRescueReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rescue-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-actions-rescue-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rescue-rsp.json"/>
				</wadl:doc> &serverActionRescueRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/servers-actions-rescue-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-rescue-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults;</method>

	<method name="POST" id="unrescueServer">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Unrescue specified server">
			<para role="shortdesc">Takes the specified server out of rescue mode.</para>
			<para>After you resolve any problems and reboot a rescued server, you can unrescue the server. Specify the
					<literal>unrescue</literal> action in the request body. When you unrescue the server, the repaired image
				is restored to its running state with your original password.</para>
			<para>You can exit rescue mode at any time.</para>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the <literal>unrescue</literal> action.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-unrescue-req.json"/>
				</wadl:doc> &serverActionUnrescueReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-unrescue-req.xml"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<method name="POST" id="createImage">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Create image of specified server">
			<para role="shortdesc">Create an image of the specified server.</para>
			<para>This operation creates a new image for a specified server. Once complete, you can use your new image to
				rebuild or create servers. The full URL to the newly created image is returned through the
					<code>Location</code> header. You can retrieve additional attributes for the image including its creation
				status by issuing a subsequent &GET; on that URL.
				<!--See inserthere <xref linkend="Get_Image_Details-d1e4848"/> for details.--></para>
			<para>Image creation is an asynchronous operation, so coordinating the creation with data quiescence, and so on,
				is currently not possible. </para>
			<note>
				<para>This operation is not available for OnMetal servers.</para>
			</note>
			<para> In addition to creating images manually, you may also schedule images of your server automatically.
				<!--See inserthere
				<xref linkend="scheduled_images"/> for more information on this extension, including enabling and disabling
				scheduled images and showing scheduled images.-->
			</para>
			<para>Specify the target server ID in the URI.</para>
			<para>In the request body, specify the <literal>createImage</literal> action, followed by attributes.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-createImage-req.json"/>
				</wadl:doc> &serverActionCreateImageReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/servers-actions-createImage-req.xml"/>
				</wadl:doc>
			</representation>
		</request> &commonFaults; <response status="202">
			<doc title="Successful">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/servers-actions-noresponse-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults;</method>

	<!-- Metadata operations -->
	<method name="GET" id="listMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List server metadata">
			<para role="shortdesc">Retrieve list of all metadata for a specified server.</para>
			<para>In the URI, specify the target server ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/meta-list-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/meta-list-rsp.json"/>
				</wadl:doc> &metaListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/meta-list-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/meta-list-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="PUT" id="setMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Set server metadata">
			<para role="shortdesc">Create or replace metadata items for a specified server</para>
			<para>You can add one or more new metadata items in a single request.</para>
			<important><para>Existing metadata items are replaced with the ones provided in the request regardless of the
					names of the original metadata items.</para></important>
			<para>If you exceed the maximum number of metadata items in the request, the call throws an <literal>overLimit
					(413)</literal> fault. To find the maximum number of key-value pairs that can be supplied for each
				server, use the maxServerMeta absolute limit query
				<!--found in Section 1.9.3, “Get Limits” inserthere-->.</para>
			<para>In the URI, specify the target server ID.</para>
			<para>In the request body, specify the <literal>metadata</literal> element, followed by the new metadata key, for
				example <literal>version</literal>, with the value for that key.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/meta-set-req.json"/>
				</wadl:doc>&metaListRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/meta-set-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/meta-set-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/meta-set-rsp.json"/>
				</wadl:doc>&metaListRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/meta-set-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/meta-set-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="POST" id="updateMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Update server metadata">
			<para role="shortdesc">Update metadata items by key for a specified server</para>
			<para>You can update one or more metadata items that you previously added in a single request, but you should
				avoid changing metadata items that you did not add. The operation replaces existing metadata items with the
				same key. Items that are not explicitly mentioned in the request are not modified. </para>
			<para>If you exceed the maximum number of metadata items in the request, the call throws an <literal>overLimit
					(413)</literal> fault. To find the maximum number of key-value pairs that can be supplied for each
				server, use the maxServerMeta absolute limit query
				<!--found in Section 1.9.3, “Get Limits” inserthere-->.</para>
			<para>In the URI, specify the target server ID.</para>
			<para>In the request body, specify the <literal>metadata</literal> element, followed by the metadata key, for
				example <literal>version</literal>, with the new value for that key.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/meta-update-req.json"/>
				</wadl:doc>&metaListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/meta-update-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/meta-update-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/meta-update-rsp.json"/>
				</wadl:doc>&metaListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/meta-update-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/meta-update-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="GET" id="showMetadataItem">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Show server metadata item details">
			<para role="shortdesc">Retrieve metadata item by key for a specified server.</para>
			<para>In the URI, specify the target server ID and the target metadata key.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203 300">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/metaitem-update-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-update-rsp.json"/>
				</wadl:doc> &metaItemListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/metaitem-update-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-update-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="PUT" id="setMetadataItem">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Set server metadata item">
			<para role="shortdesc">Create or replace metadata item by key for a specified server</para>
			<para>In the URI, specify the target server ID and the target metadata key.</para>
			<para>In the request body, specify the <literal>meta</literal> element, followed by the metadata key, for example
					<literal>version</literal>, with the new value for that key.</para>
			<note><para>The key specified in the request body must match the key specified in the URI request.</para></note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-set-req.json"/>
				</wadl:doc>&metaItemListRspParameters;</representation>
			<representation mediaType="application/xml">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-set-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/metaitem-set-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-set-rsp.json"/>
				</wadl:doc>&metaListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/metaitem-set-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/metaitem-set-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="DELETE" id="deleteMetadataItem">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete server metadata item">
			<para role="shortdesc">Deletes a metadata item by key from the specified server.</para>
			<para>If the operation succeeds, it returns an <errorcode>HTTP 202</errorcode> status code with no response
				body.</para>
			<para>In the URI, specify the target server ID and the target metadata key.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="204">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/metaitem-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/metaitem-delete-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<!-- Volume attachment operations -->
	<method name="PUT" id="createVolumeAttachment">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Attach voume to server">
			<para role="shortdesc">Attaches volume to a specified server</para>
			<para>You can attach one or more volumes in a single request.</para>
			<para> For information about creating volumes, see
				<link xlink:href="http://docs.rackspace.com/cbs/api/v1.0/cbs-devguide/content/index.html">
            <citetitle>Rackspace Cloud Block Storage Developer Guide</citetitle></link>.
			</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-create-req.json"/>
				</wadl:doc>&attachVolumeReqParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-create-req.xml"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="202">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-create-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-create-rsp.json"/>
				</wadl:doc>&attachVolumeRspParameters; </representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-create-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-create-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="GET" id="listVolumeAttachments">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="List server metadata">
			<para role="shortdesc">Retrieve list of all attached volumes for a specified server.</para>
			<para>In the URI, specify the target server ID.</para>
			<para> For information about creating volumes, see
				<link xlink:href="http://docs.rackspace.com/cbs/api/v1.0/cbs-devguide/content/index.html">
            <citetitle>Rackspace Cloud Block Storage Developer Guide</citetitle></link>.
			</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200 203 300">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/vol-attach-list-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-list-rsp.json"/>
				</wadl:doc> &attachVolumeListRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:servers">
				<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
					<xsdxt:code href="../common/samples/vol-attach-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-list-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response> &commonFaults; </method>

	<method name="PUT" id="showVolumeAttachmentDetails">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Show volume attachment details">
			<para role="shortdesc">Retrieve volume details for the specified server ID and volume attachment ID</para>
			<para>In the URI, specify the target server ID and the target attached volume ID to see details for that
				volume.</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc></representation>
			<representation mediaType="application/xml">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>

		<response status="200">
			<doc title="Success">Request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-details-rsp-json-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-details-rsp.json"/>
				</wadl:doc>&attachVolumeRspParameters;</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-details-rsp-xml-http.txt"/>
					<xsdxt:code href="../common/samples/vol-attach-details-rsp.xml"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

	<method name="DELETE" id="deleteVolumeAttachment">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN" title="Delete volume attachment from server">
			<para role="shortdesc">Deletes the specified volume attachment from the specified server.</para>
			<para>If the operation succeeds, it returns an <errorcode>HTTP 202</errorcode> status code with no response
				body.</para>
			<para>In the URI, specify the target server ID and the target attached volume ID.</para>
		</wadl:doc>

		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/req-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="202">
			<doc title="Delete Successful">Delete request succeeded.</doc>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-delete-rsp-json-http.txt"/>
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<xsdxt:code href="../common/samples/vol-attach-delete-rsp-xml-http.txt"/>
				</wadl:doc>
			</representation>
		</response>&commonFaults; </method>

</application>
