src/wadl/supporting.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->
<!DOCTYPE application [<!ENTITY % common  SYSTEM "../common/common.ent">
%common;]>
<application xmlns="http://wadl.dev.java.net/2009/02" 
	xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink" 
	xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:db="http://docbook.org/ns/docbook" 
	xmlns:common="http://docs.openstack.org/common/api/v1.0"
	xmlns:csapi="http://docs.openstack.org/compute/api/v2" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources>
		
		
		<!-- *******************************************-->
        <!--           ALL  RESOURCES                   -->
		<!-- *******************************************-->
		
		<!--*********-->
		<!--Versions -->
		<!--*********-->
		
		<resource id="Versions" path="/">
			
			<resource id="Version_id" path="{version_id}">
				<param name="version_id" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:string">
					<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						<para>The ID for the version.</para>
					</wadl:doc>
				</param>
				
				<method href="#getVersions"/>
				<method href="#getVersionDetails"/>
				
				
		<!--******-->
		<!--Limits-->
		<!--******-->
				<resource id="limits" path="{limits}">
					<param name="limits" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:string">
						<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
							<para>Some LIMITS words here.</para>
							<para>Some LIMITS words here.</para>
						</wadl:doc>
					</param>
					
					<method href="#retrieveListLimits"/>
					
					
		<!--*******-->
		<!--Flavors-->
		<!--*******-->
					<resource id="flavors" path="{flavors}">	
						<param name="flavors" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:string">
							<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
								<para>Some FLAVORS words here.</para>
							</wadl:doc>
						</param>
						
						<method href="#retrieveListFlavors"/>
						<method href="#retrieveFlavorDetails"/>
						
						
		<!--********-->
		<!-- Images -->
		<!--********-->
					<resource id="images" path="{imagess}">	
						<param name="images" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:string">
							<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
								<para>Some IMAGES words here.</para>
							</wadl:doc>
						</param>
						
						<method href="#retrieveListImages"/>
						<method href="#retrieveListImagesWithDetails"/>
						<method href="#retrieveImageDetails"/>
						<method href="#deleteImage"/>
						
						
		<!--*************-->
		<!--Metadata-->
		<!--*************-->
						<resource id="metadata" path="{metadata}">
							<param name="metadata" xmlns="http://wadl.dev.java.net/2009/02" style="template" type="csapi:string">
								<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
									<para>Some METADATA words here.</para>
									<para>Some METADATA words here.</para>
								</wadl:doc>
							</param>
							
							<method href="#setMetadata"/>
							<method href="#retrieveListMetadata"/>
							<method href="#updateMetadata"/>
							<method href="#retrieveMetadataItemDetails"/>
							<method href="#updateMetadataItem"/>
							<method href="#deleteMetadata"/>
				
			    </resource>
		      </resource>
		    </resource>
		  </resource>
		</resource>
	  </resource>
	</resources>
	
	
	<!--************************************-->
	<!--             ALL METHODS            -->
	<!--************************************-->
	
	
	<!--Versions Methods-->
	
	<!--*******************-->
	<!--Get Versions method-->
	<!--*******************-->
	
	
	<method name="POST" id="getVersions">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="List versions">
			<para role="shortdesc">Retrieves list of versions.</para>
			<para>This operation lists the available versions of Next Generation Cloud Servers. Since we have only one
				version at this time, <emphasis role="bold">v2</emphasis>, the operation may return an empty list.</para>
		</wadl:doc>

		<response status="200">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/version-list-resp.json"/>-->
				</wadl:doc>
				<!--				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<para>Anything special about response goes here.</para>
				</wadl:doc>-->
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/version-list-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	<!--***************************-->
	<!--Get Version Details method -->
	<!--***************************-->
	
	<method name="POST" id="getVersionDetails">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Get version details">
			<para role="shortdesc">Retrieves details for specified versions.</para>
			<para>This operation retrieve details for the specified version of Next Generation Cloud Servers. Since we have
				only one version at this time, <emphasis role="bold">v2</emphasis>, the operation may return an empty
				response body.</para>
		</wadl:doc>

		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/version-detail-resp.json"/>-->
				</wadl:doc>
				<!--				<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<para>Anything special about response goes here.</para>
				</wadl:doc>-->
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/version-detail-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	<!--Limits Methods-->
	
	<!--********************-->
	<!--Retrieve List method-->
	<!--********************-->
	
	<method name="GET" id="retrieveListLimits">
	<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve list limits">
		<para role="shortdesc">Retrieves ....</para>
		<para>This operation retrieve details for the specified version of Next Generation Cloud Servers.
			Since we have only one version at this time, <emphasis role="bold">v2</emphasis>, the operation 
			may return an empty response body.</para>
	</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limit-detail-resp.json"/>-->
				</wadl:doc>
				<!--<wadl:doc xmlns="http://docbook.org/ns/docbook">
					<para>Anything special about response goes here.</para>
					</wadl:doc>-->
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limit-detail-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	
	<!--Flavors Methods-->
	
	<!--****************************-->
	<!--Retrieve List Flavors method-->
	<!--****************************-->
	
	<method name="GET" id="retrieveListFlavors">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve list flavors">
			<para role="shortdesc">Retrieves ....</para>
			<para>This operation retrieves ... some flavory stuff goes here.</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limits-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limits-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--*************************-->
	<!--Get Flavors Detail method-->
	<!--*************************-->
	
	<method name="GET" id="retrieveFlavorsDetail">
	<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve flavors detail">
		<para role="shortdesc">Retrieves ....</para>
		<para>This operation retrieves ... some flavory stuff goes here.</para>
	</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limits-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/limits-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--Images Methods-->

	<!--***************************-->
	<!--Retrieve List Images method-->
	<!--***************************-->
	<method name="GET" id="retrieveListImages">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve List Images">
			<para role="shortdesc">Retrieves list of images.</para>
			<para>Images stuff ... </para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
		
	<!--****************************************-->
	<!--Retrieve List Images with Details method-->
	<!--****************************************-->
		
	<method name="POST" id="retrieveListImagesWithDetails">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve List Images With Details">
			<para role="shortdesc">Retrieves ... images.</para>
			<para>Images stuff ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
		
		
		
	<!--*****************************-->
	<!--Retrieve Image Details method-->
	<!--*****************************-->
	
	<method name="POST" id="retrieveImagesDetails">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve Image Details">
			<para role="shortdesc">Retrieves ... .</para>
			<para>Images stuff ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
		
	<!--********************-->
	<!--Delete Image method-->
	<!--********************-->
	
	<method name="DELETE" id="deleteImage">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Delete Image">
			<para role="shortdesc">Deletes ... .</para>
			<para>Images stuff ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/images-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
		
	
	
	<!--Metadata Methods-->
	
	<!--********************-->
	<!--Set Metadata method-->
	<!--********************-->
	
	<method name="POST" id="setMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Set metadata">
			<para role="shortdesc">Sets ... .</para>
			<para>Metadata stuff ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--*****************************-->
	<!--Retrieve List Metadata method-->
	<!--*****************************-->
	<method name="GET" id="retrieveListMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Retrieve list metadata">
			<para role="shortdesc">Deletes ... .</para>
			<para>Metadata stuff ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	
	<!--**********************-->
	<!--Update Metadata method-->
	<!--**********************-->
	
	<method name="POST" id="updateMetadata">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Update metadata">
			<para role="shortdesc">Updates ... .</para>
			<para>Metadata ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--******************************-->
	<!--Retrieve Metadata Items method-->
	<!--******************************-->
	
	<method name="GET" id="getMetadataItems">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Update metadata">
			<para role="shortdesc">Retrieves ... .</para>
			<para>Metadata ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--***************************-->
	<!--Update Metadata Item method-->
	<!--***************************-->
	
	<method name="POST" id="updateMetadataItem">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Update metadata item">
			<para role="shortdesc">Updates ... .</para>
			<para>Metadata ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
	
	<!--***************************-->
	<!--Delete Metadata Item method-->
	<!--***************************-->
	
	<method name="DELETE" id="deleteMetadataItem">
		<wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="en" title="Delete metadata item">
			<para role="shortdesc">Updates ... .</para>
			<para>Metadata ...</para>
		</wadl:doc>
		<response status="204">
			<representation mediaType="application/json">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.json"/>-->
					<!-- <wadl:doc xmlns="http://docbook.org/ns/docbook">
						<para>Anything special about response goes here.</para>
				</wadl:doc> -->
				</wadl:doc>
			</representation>
			<representation mediaType="application/xml" element="csapi:element">
				<wadl:doc xml:lang="en">
					<!--<xsdxt:code href="../common/samples/metadata-resp.xml"/>-->
				</wadl:doc>
			</representation>
		</response>
	</method>
	
</application>